# Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
pubspec.lock
build/

# Android
android/.gradle/
android/build/
android/local.properties
android/app/.cxx/
android/app/debug/
android/app/profile/
android/app/release/

# IDE
.idea/
.vscode/
.vs/
*.iml
*.iws
*.ipr

# OS
.DS_Store
Thumbs.db

# Environment
.env
lib/services/api_config.dart
